.App{
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-color: #FF4646;
    padding-top: 4rem;
    min-height: 100vh;
}

.card-title{
    text-align: center
}
.navbar {
    background-Color: #5A95FF  !important;
}

.nav-text{
    text-shadow: 2px 2px 4px #264B64;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.icon {
    width: 150px;
    height: auto;
}
